body
{
  margin-top: 71px;
}

.highlight {
  background-color: #FFFF88;
}

.thumbnail .caption *
{
  height: 1.1;
  white-space: nowrap;
  overflow: hidden;
}

a.package-include
{
  display: block;
}

a.package-include:hover
{
  text-decoration: none;
}

a.package-include:hover h3
{
  text-decoration: underline;
}

a.package-include div.panel-body
{
  white-space: nowrap;
  overflow: hidden;
  color: #333333;
}

div#tags
{
  text-align: center;
}

div#tags a
{
  padding: 0 5px 5px 0;
}
