.thumbnail .caption *
{
  height: 1.1;
  white-space: nowrap;
  overflow: hidden;
}

a.package-include
{
  display: block;
}

a.package-include div.panel-body
{
  white-space: nowrap;
  overflow: hidden;
}
