body
{
  margin-top: 71px;
}

.thumbnail .caption *
{
  height: 1.1;
  white-space: nowrap;
  overflow: hidden;
}

a.package-include
{
  display: block;
}

a.package-include:hover
{
  text-decoration: none;
}

a.package-include:hover h3
{
  text-decoration: underline;
}

a.package-include div.panel-body
{
  white-space: nowrap;
  overflow: hidden;
  color: #333333;
}

